@model Evoting.Models.CustomerViewModel
@using Evoting.GlobalSetting;

@{ 
    var LatestAnnoucement = Model.AnnoucementList.OrderByDescending(x=>x.PublishedDate).Take(3).ToList();
}


<!-- Start Blog Area -->
<div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            @if (LatestAnnoucement == null)
            {
                <div class="row">
                    <h4 style="color:black; text-align: center; font-size: 29px;">
                        <b>
                            <i>
                                There is no latest news
                            </i>
                        </b>
                    </h4>
                </div>
            }
            else
            {
        <div class="row">
            @foreach (var LatestNews in LatestAnnoucement)
              {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="/SinglePage/SinglePageAnnoucement/@LatestNews.AnnoucemntID">
                                <img src="@(LatestNews.AnnoucementImage != null ? GlobalSettingsPatternsandConstant.ImageURLWeb+ LatestNews.AnnoucementImage : GlobalSettingsPatternsandConstant.DefaultImageURLWeb )" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>@LatestNews.PublishedDate.ToString("dd/MM/yyyy") / @LatestNews.PublishedDate.ToString("hh:mm")
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="/SinglePage/SinglePageAnnoucement/@LatestNews.AnnoucemntID">@LatestNews.AnnoucementTitle</a>
                            </h4>
                            <p>
                               @LatestNews.AnoucementDetails
                            </p>
                        </div>
                        <span>
                            <a href="/SinglePage/SinglePageAnnoucement/@LatestNews.AnnoucemntID" class="ready-btn">Read more</a>
                        </span>
                    </div>
                   
                </div>
            }
        </div>
            }

        </div>
    </div>
</div>
<!-- End Blog -->