@model Evoting.Models.CustomerViewModel

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Bottom Header -->
<div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                    <div class="header-bottom">
                        <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                            <h1 class="title2">How to become a Voter/Candidate</h1>
                        </div>
                        <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                            <h2 class="title3">Lorem Ipsum is simply dummy text of the printing. </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
@Html.Partial("~/Views/Partial/_RegistrationRules.cshtml")

@if (ViewData["Message"] == null)
{
    <div class="wellcome-area">
        <div class="well-bg">
            <div class="test-overly"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wellcome-text">
                            <div class="well-text text-center">
                                @using (Html.BeginForm("Appointment", "HomePage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "appointmentform pt-3" }))
                                {
                                    <h2 style="color:white">Make Appointment</h2>
                                    <p>
                                        With talk with our agents please make an appointment
                                    </p>
                                    <div class="subs-feilds">
                                        <div class="suscribe-input">
                                            @Html.TextBoxFor(model => model.Appointment.CustomerName, new { @class = "email form-control width-80", id = "exampleInputEmail1", placeholder = "Please Enter your Full Name" })
                                            @Html.ValidationMessageFor(model => model.Appointment.CustomerName)
                                        </div>
                                    </div>
                                    <div class="subs-feilds">
                                        <div class="suscribe-input">
                                            @Html.TextBoxFor(model => model.Appointment.UserEmaul, new { @class = "email form-control width-80", id = "exampleInputEmail1", placeholder = "Please Enter your Email Address" })
                                            @Html.ValidationMessageFor(model => model.Appointment.UserEmaul)
                                        </div>


                                    </div>
                                    <div class="subs-feilds">

                                        <div class="suscribe-input">
                                            @Html.TextBoxFor(model => model.Appointment.UserPhoneNumber, new { @class = "form-control width-80 email form-control-lg", id = "exampleInputEmail1", placeholder = "Please Enter your Email Phone Number" })

                                            @Html.ValidationMessageFor(model => model.Appointment.UserPhoneNumber)

                                        </div>


                                    </div>
                                    <div class="subs-feilds">

                                        <div class="suscribe-input">
                                            @Html.DropDownListFor(model => model.Appointment.AppointmentSubject, new SelectList(Model.AppointmentSubject, "value", "label"), new { @class = "extra_desing email form-control width-80" })

                                        </div>

                                    </div>
                                    <div class="subs-feilds">

                                        <div class="suscribe-input">
                                            @Html.TextAreaFor(Model => Model.Appointment.AppointmentDetails, new { @class = "extra_desing form-control email width-80", rows = "6", placeholder = "Enter Details" })

                                        </div>
                                    </div>
                                    <div class="suscribe-input" style=" display: flex;  justify-content: center; ">

                                        <button type="submit" id="sus_submit" class="add-btn width-20">Make Appointment</button>

                                    </div>
                                    <div class="suscribe-input" style=" display: flex;  justify-content: center; ">


                                        <div class="text-center mt-4 font-weight-light" style="color:white">
                                            Already have an account? <a href="login.html" class="text-primary" style="color:white">Login</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h4 style=" text-align:center ; color: red;">@ViewData["Message"]</h4>
}