@model Evoting.Models.CustomerViewModel
@{
    ViewBag.Title = "UpcomingElection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Bottom Header -->
<div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                    <div class="header-bottom">
                        <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                            <h1 class="title2">Ucoming Election</h1>
                        </div>
                        <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                            <h2 class="title3">Lorem Ipsum is simply dummy text of the printing. </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Upcoming Election</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-top" id="electionpagination">
                @if (Model.ElectionDetailsList.Count > 0)
                {
                    foreach (var ElectionDetails in Model.ElectionDetailsList)
                    {
                        <div class="col-md-3 col-sm-3 col-xs-12 removeitem">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="~/Content/Image/upcomingelectionlist.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="/SinglePage/SinglePageElectionDetails/@ElectionDetails.ElectionID">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>@ElectionDetails.ElectionName</h4>
                                    <p>@ElectionDetails.ElectionStatus</p>
                                    <p>@ElectionDetails.StartDate</p>
                                    <p style="text-align: left !important; margin-left: 4% !important">
                                        @ElectionDetails.ElectionDetails
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->

<div class="blog-pagination paginationindexpage">
    <ul class="pagination">
        <li><a href="#">&lt;</a></li>
        @for (var i = 1; i <= Model.TotalPage; i++)
        {
            if (i == 1)
            {
                <li class="paginationlist active"><a href="#" onclick="PaginationItems(@i)">@i</a></li>
            }
            else
            {
                <li><a href="#" onclick="PaginationItems(@i)">@i</a></li>
            }
        }
    </ul>
</div>
<style>
    .paginationindexpage {
        display: flex;
        justify-content: center;
    }
</style>
<script>
    function PaginationItems(pageindex) {
        var paginationpageindex = document.getElementsByClassName("paginationlist");
        paginationpageindex.classList.remove("active");
        
        var PagenationDetails =
        {
            pageindex: pageindex,
            pagesize:10
        }
        $.ajax({
            url: "/HomePage/GetpaginatiotabledataUpcomingElection",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                paginationpageindex.eq(pageindex - 1).classList.add("active");
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                    element += `
                                      <div class="col-md-3 col-sm-3 col-xs-12 removeitem">
             <div class="single-team-member">
                 <div class="team-img">
                     <a href="#">
                         <img src="~/Content/Image/upcomingelectionlist.jpg" alt="">
                     </a>
                     <div class="team-social-icon text-center">
                         <ul>
                             <li>
                                 <a href="/SinglePage/SinglePageElectionDetails/${data[i].ElectionDetailsList.ElectionID}">
                                     <i class="fa fa-search"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="team-content text-center">
                     <h4>${data[i].ElectionDetailsList.ElectionName}</h4>
                     <p>${data[i].ElectionDetailsList.ElectionStatus}</p>
                     <p>${data[i].ElectionDetailsList.StartDate}</p>
                     <p style="text-align: left !important; margin-left: 4% !important">
                        ${data[i].ElectionDetailsList.ElectionDetails}
                     </p>
                 </div>
             </div>
         </div>
                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
</script>