@model Evoting.Models.SuperAdminAndAdminViewModel

@{
    ViewBag.Title = "GetAllAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Appointment Assignment Details Table</h4>
                <p class="card-description">
                    Appointment Assignment <code>Details</code>
                </p>
                <div class="table-responsive">
                    <div class="">
                        <h5 style="color:red">@ViewData["Message"]</h5>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control searchbox" id="exampleFormControlInput1" onchange="SearchItems()" placeholder="Search.....">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Appointment Assignment Subject</th>
                                <th>Appointment Assignment Description</th>
                                <th>User Details</th>
                                <th>Appointment Assign to</th>
                                <th>Appointment Assignment Fixed Date</th>
                                <th>Appointment Assignment Update</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody id="electionpagination">
                            @if (Model.AssignemntAppointmentList.Count > 0)
                            {
                                int serialno = 1;
                                foreach (var AssignemntAppointmentdetails in Model.AssignemntAppointmentList)
                                {

                                    <tr class="removeitem">
                                        <td>@serialno</td>
                                        <td>@AssignemntAppointmentdetails.Appointment.AppointmentSubject</td>
                                        <td>@AssignemntAppointmentdetails.Appointment.AppointmentDetails</td>
                                        <td>
                                            <span><b><i>Email: </i></b>@AssignemntAppointmentdetails.Appointment.UserEmaul</span> <br />
                                            <span><b><i>Phone Number: </i></b>@AssignemntAppointmentdetails.Appointment.UserPhoneNumber</span> <br />
                                        </td>
                                        <td>@AssignemntAppointmentdetails.Admin.AdminName</td>
                                        @if (AssignemntAppointmentdetails.AssignmentFixedDate != null)
                                        {
                                            <td>
                                                <span><b><i>@AssignemntAppointmentdetails.AssignmentFixedDate.ToString("dd/MM/yyyy, hh:mm")  </i></b></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span><b><i>Pending </i></b></span>
                                            </td>
                                        }
                                        @if (AssignemntAppointmentdetails.AssignmentUpdate > 0)
                                        {
                                            <td>
                                                <span><b><i>Complete  </i></b></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span><b><i>Pending </i></b></span>
                                            </td>
                                        }
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteAnnoucement", new { Id = AssignemntAppointmentdetails.AssignmentID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Update", "GetSingleAnnoucement", new { Id = AssignemntAppointmentdetails.AssignmentID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                    </tr>
                                    serialno++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td> <h6 style="color:red; text-align:center"> <b>NO DATA FOUND</b> </h6> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example" class="paginationindexpage">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPage; i++)
        {
            <li class="page-item"><a class="page-link" href="#" onclick="PaginationItems(@i)">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<style>
    .paginationindexpage {
        display: flex !important;
        justify-content: center !important;
    }
</style>
<script>
    function PaginationItems(pageindex) {
        var PagenationDetails =
        {
            pageindex: pageindex,
            pagesize: 10
        }
        $.ajax({
            url: "/AppointmentAnnoucement/GetpaginatiotabledataAssignAppointment",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                    var FixedDate;
                    var AssignmentUpdate;
                    if (data.AssignmentFixedDate == null) {
                        FixedDate = "Pending";
                    }
                    else {
                        FixedDate = data.AssignmentFixedDate;
                    }
                    if (data.AssignmentUpdate > 0) {
                        AssignmentUpdate = "Complete";
                    }
                    else {
                        AssignmentUpdate = "Pending";
                    }
                    element += `
<tr class="removeitem">
    <td>${serialno}</td>
    <td>${data[i].AppointmentSubject}</td>
    <td>${data[i].AppointmentDetails}</td>
    <td>
        <span><b><i>Email: </i></b>${data[i].UserEmaul}</span> <br />
        <span><b><i>Phone Number: </i></b>${data[i].UserPhoneNumber}</span> <br />
    </td>
    <td>${data[i].Admin.AdminName}</td>
        <td>
            <span><b><i>${FixedDate}  </i></b></span>
        </td>
        <td>
            <span><b><i>${AssignmentUpdate}  </i></b></span>
        </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/DeleteAssignment/${data[i].AssignmentID}">Delete</a>
    </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/GetSingleAssignment/${data[i].AssignmentID}">Update</a>
    </td>
</tr>
                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
    function SearchItems() {
        var PagenationDetails =
        {
            Search: $(".searchbox").val()
        }
        $.ajax({
            url: "/AppointmentAnnoucement/SearchAssignAppointment",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                    var FixedDate;
                    var AssignmentUpdate;
                    if (data.AssignmentFixedDate == null) {
                        FixedDate = "Pending";
                    }
                    else {
                        FixedDate = data.AssignmentFixedDate;
                    }
                    if (data.AssignmentUpdate > 0) {
                        AssignmentUpdate = "Complete";
                    }
                    else {
                        AssignmentUpdate = "Pending";
                    }
                    element += `

<tr class="removeitem">
    <td>${serialno}</td>
    <td>${data[i].AppointmentSubject}</td>
    <td>${data[i].AppointmentDetails}</td>
    <td>
        <span><b><i>Email: </i></b>${data[i].UserEmaul}</span> <br />
        <span><b><i>Phone Number: </i></b>${data[i].UserPhoneNumber}</span> <br />
    </td>
    <td>${data[i].Admin.AdminName}</td>
        <td>
            <span><b><i>${FixedDate}  </i></b></span>
        </td>
        <td>
            <span><b><i>${AssignmentUpdate}  </i></b></span>
        </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/DeleteAssignment/${data[i].AssignmentID}">Delete</a>
    </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/GetSingleAssignment/${data[i].AssignmentID}">Update</a>
    </td>
</tr>
                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
</script>