@model Evoting.Models.SuperAdminAndAdminViewModel

@{
    ViewBag.Title = "GetAllAnnoucement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Annoucement Details Table</h4>
                <p class="card-description">
                    Annoucement <code>Details</code>
                </p>
                <div class="table-responsive">
                    <div class="">
                        <h5 style="color:red">@ViewData["Message"]</h5>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control searchbox" id="exampleFormControlInput1" onchange="SearchItems()" placeholder="Search.....">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Annoucement Title</th>
                                <th>Annoucement Description</th>
                                <th>Annoucement Image</th>
                                <th>Annoucement Published Date</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody id="electionpagination">
                            @if (Model.AnnoucementList.Count > 0)
                            {
                                int serialno = 1;
                                foreach (var Annoucementdetails in Model.AnnoucementList.OrderByDescending(x=>x.PublishedDate))
                                {

                                    <tr class="removeitem">
                                        <td>@serialno</td>
                                        <td>@Annoucementdetails.AnnoucementTitle</td>
                                        <td>@Annoucementdetails.AnoucementDetails</td>
                                        @if (Annoucementdetails.AnnoucementImage.Length > 0)
                                        {
                                            <td class="py-1">
                                                <img src="@Annoucementdetails.AnnoucementImage" alt="image">
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="py-1">
                                                <img src="" alt="image">
                                            </td>
                                        }

                                        <td>@Annoucementdetails.PublishedDate.ToString("dd/MM/yyyy, hh:mm")</td>
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteAnnoucement", new { Id = Annoucementdetails.AnnoucemntID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Update", "GetSingleAnnoucement", new { Id = Annoucementdetails.AnnoucemntID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                    </tr>
                                    serialno++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td> <h6 style="color:red; text-align:center"> <b>NO DATA FOUND</b> </h6> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example" class="paginationindexpage">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPage; i++)
        {
            <li class="page-item"><a class="page-link" href="#" onclick="PaginationItems(@i)">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<style>
    .paginationindexpage {
        display: flex !important;
        justify-content: center !important;
    }
</style>
<script>
    function PaginationItems(pageindex) {
        var PagenationDetails =
        {
            pageindex: pageindex,
            pagesize: 10
        }
        $.ajax({
            url: "/AppointmentAnnoucement/GetpaginatiotabledataAnnoucement",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                    element += `
<tr class="removeitem">
    <td>${serialno}</td>
    <td>${data[i].AnnoucementTitle}</td>
    <td>${data[i].AnoucementDetails}</td>
  
        <td class="py-1">
            <img src="${data[i].AnnoucementImage}" alt="image">
        </td>
    <td>${data[i].PublishedDate}</td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/DeleteAnnoucement/${data[i].AnnoucemntID}">Delete</a>
       
    </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/GetSingleAnnoucement/${data[i].AnnoucemntID}">Update</a>
    </td>
</tr>
                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
    function SearchItems() {
        var PagenationDetails =
        {
            Search: $(".searchbox").val()
        }
        $.ajax({
            url: "/AppointmentAnnoucement/SearchAnnoucement",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                    element += `
<tr class="removeitem">
    <td>${serialno}</td>
    <td>${data[i].AnnoucementTitle}</td>
    <td>${data[i].AnoucementDetails}</td>
  
        <td class="py-1">
            <img src="${data[i].AnnoucementImage}" alt="image">
        </td>
    <td>${data[i].PublishedDate}</td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/DeleteAnnoucement/${data[i].AnnoucemntID}">Delete</a>
       
    </td>
    <td>
        <a class = "btn btn-danger" href="/AppointmentAnnoucement/GetSingleAnnoucement/${data[i].AnnoucemntID}">Update</a>
    </td>
</tr>
                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
</script>