@model Evoting.Models.VoterCandidateViewModel
@using Evoting.GlobalSetting
@{
    ViewBag.Title = "GetAllElectionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Election Details Table</h4>
                <p class="card-description">
                    Election <code>Details</code>
                </p>
                <div class="table-responsive">
                    <div class="">
                        <h5 style="color:red">@ViewData["Message"]</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Election Title</th>
                                <th>Election Description</th>
                                <th>Election Type</th>
                                <th>Election Details</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Assing Election</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ElectionDetailsList.Count > 0)
                            {
                                int serialno = 1;
                                foreach (var electiondetails in Model.ElectionDetailsList)
                                {

                                    <tr>
                                        <td>@serialno</td>
                                        <td>@electiondetails.ElectionName</td>
                                        <td>@electiondetails.ElectionDetails</td>
                                        <td>@electiondetails.ElectionTypeDetails.ElectionName</td>
                                        <td>
                                            <span><b><i>Starting Date: </i></b>@electiondetails.StartDate.ToString("dd/MM/yyyy, hh:mm")</span> <br />
                                            <span><b><i>Ending Date: </i></b>@electiondetails.EndDate.ToString("dd/MM/yyyy, hh:mm")</span> <br />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-rounded btn-fw">Update</button>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteElectionDetails", new { Id = electiondetails.ElectionID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Assign Area Election", "AssignElection", new { Id = electiondetails.ElectionID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                    </tr>
                                    serialno++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td> <h6 style="color:red; text-align:center"> <b>NO DATA FOUND</b> </h6> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

