@model Evoting.Models.SuperAdminAndAdminViewModel
@{
    ViewBag.Title = "AddNewArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ADD NEW AREA</h4>
                @using (Html.BeginForm("AddNewArea", "ElectionSettings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(Model => Model.Area.AreaID)
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Zone</label>
                        @Html.DropDownListFor(model => model.Area.ZoneID, new SelectList(Model.ZoneList, "ZoneId", "ZoneName"), new { @class = "form-control", id = "val-skill", @placeholder = "Zone Name" })
                        @Html.ValidationMessageFor(Model => Model.Area.ZoneID)
                    </div>
                    if (Model.Area.AreaID > 0)
                    {
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Area</label>
                            @Html.TextBoxFor(Model => Model.Area.AreaName, new { @class = "form-control", id = "exampleInputUsername1", @readonly = "readonly" });
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Area</label>
                            @Html.DropDownListFor(model => model.Area.AreaName, new SelectList("", "", ""), new { @class = "form-control", id = "distrcict", @placeholder = "Zone Name" })
                            @Html.ValidationMessageFor(Model => Model.Area.AreaName)
                        </div>
                    }

                    <div class="form-group">
                        <label for="exampleInputUsername1">Enter Area Title</label>
                        @Html.TextBoxFor(Model => Model.Area.AreaTitle, new { @class = "form-control", id = "exampleInputUsername1", @placeholder = "Enter Ward Name" });
                        @Html.ValidationMessageFor(Model => Model.Area.AreaTitle)
                    </div>
                    if (Model.Area.AreaID > 0 && Model.Area != null)
                    {

                        <button type="submit" class="btn btn-success mr-2">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    }
                    else
                    {

                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Area Details Table</h4>
                <p class="card-description">
                    Area <code>Details</code>
                </p>
                <div class="table-responsive">
                    <div class="">
                        <h5 style="color:red">@ViewData["Message"]</h5>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control searchbox" id="exampleFormControlInput1" onchange="SearchItems()" placeholder="Search.....">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Area Name</th>
                                <th>Area Title</th>
                                <th>Zone Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="electionpagination">
                            @if (Model.AreaList.Count > 0)
                            {
                                int serialno = 1;
                                foreach (var area in Model.AreaList)
                                {

                                    <tr class="removeitem">
                                        <td>@serialno</td>
                                        <td>@area.AreaName</td>
                                        <td>@area.AreaName</td>
                                        <td>@area.ZoneDetailsitem.ZoneName</td>
                                        <td>
                                            @Html.ActionLink("Update", "GetSingleArea", new { Id = area.AreaID }, new { @class = "btn btn-success", type = "button" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteZone", new { Id = area.AreaID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                    </tr>
                                    serialno++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td> <h6 style="color:red; text-align:center"> <b>NO DATA FOUND</b> </h6> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example" class="paginationindexpage">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPage; i++)
                        {
                            <li class="page-item"><a class="page-link" href="#" onclick="PaginationItems(@i)">@i</a></li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<style>
    .paginationindexpage {
        display: flex !important;
        justify-content: center !important;
    }
</style>
<script>
    function PaginationItems(pageindex) {
        var PagenationDetails =
        {
            pageindex: pageindex,
            pagesize: 10
        }
        $.ajax({
            url: "/ElectionSettings/GetpaginatiotabledataArea",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {
                        element += `
    <tr class="removeitem">
        <td>${serialno}</td>
        <td>${data[i].AreaName}</td>
        <td>${data[i].AreaName}</td>
        <td>${data[i].ZoneDetailsitem.ZoneName}</td>
        <td>
            <a class = "btn btn-danger" href="/ElectionSettings/DeleteArea/${data[i].AreaID}">Delette</a>
        </td>
        <td>
            <a class = "btn btn-danger" href="/ElectionSettings/GetSingleArea/${data[i].AreaID}">Update</a>
        </td>
    </tr>
    

                                        `;
                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
    function SearchItems() {
        var PagenationDetails =
        {
            Search: $(".searchbox").val()
        }
        $.ajax({
            url: "/ElectionSettings/SearchAreaData",
            Method: "POST",
            data: PagenationDetails,
            success: function (data) {
                $(".removeitem").remove();
                data = JSON.parse(data);
                var serialno = 1;
                var element = "";
                $.each(data, function (i) {         
                    element += `
    <tr class="removeitem">
        <td>${serialno}</td>
        <td>${data[i].AreaName}</td>
        <td>${data[i].AreaName}</td>
        <td>${data[i].ZoneDetailsitem.ZoneName}</td>
      <td>
          <a class = "btn btn-danger" href="/ElectionSettings/DeleteArea/${data[i].AreaID}">Delette</a>
      </td>
      <td>
          <a class = "btn btn-danger" href="/ElectionSettings/GetSingleArea/${data[i].AreaID}">Update</a>
      </td>
    </tr>
    

                                        `;

                    $("#electionpagination").append(element);
                    serialno++;
                    var element = "";
                });
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
</script>

<script src="~/Content/JS/Custome/Common.js"></script>