@model Evoting.Models.SuperAdminAndAdminViewModel

@{
    ViewBag.Title = "AddNewElectionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ADD New Election</h4>
            @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(Model => Model.ElectionDetails.ElectionID)
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Election Title</label>
                            <br />
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.ElectionDetails.ElectionName, new { @class = "form-control", @placeholder = "Enter Election Name" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Election Details</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(Model => Model.ElectionDetails.ElectionDetails, new { @class = "form-control", rows = "6", placeholder = "Enter Election Details1" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Election Type</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.ElectionDetails.ElectionType, new SelectList("ElectionID", "ElectionName", ""), new { @class = "form-control", id = "distrcict", @placeholder = "Zone Name" })
                                @Html.ValidationMessageFor(Model => Model.Area.AreaName)
                            </div>
                        </div>
                    </div>
                </div>
                if (Model.ElectionDetails.ElectionID > 0 && Model.ElectionDetails != null)
                {

                    <button type="submit" class="btn btn-success mr-2">Update</button>
                    <button class="btn btn-light">Cancel</button>
                }
                else
                {

                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                }
            }
        </div>
    </div>
</div>

