@model Evoting.Models.SuperAdminAndAdminViewModel

@{
    ViewBag.Title = "GetAllAssignmentElectionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Assigment Election Details Table</h4>
                <p class="card-description">
                    Assigment Election <code>Details</code>
                </p>
                <div class="table-responsive">
                    <div class="">
                        <h5 style="color:red">@ViewData["Message"]</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Election Title</th>
                                <th>Election Description</th>
                                <th>Election Type</th>
                                <th>Election Details</th>
                                <th>Zones & Areas</th>
                                <th>Assign Election</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AssignElectionDetailsList.Count > 0)
                            {
                                int serialno = 1;
                                foreach (var electiondetails in Model.AssignElectionDetailsList)
                                {

                                    <tr>
                                        <td>@serialno</td>
                                        <td>@electiondetails.ElectionDetails.ElectionName</td>
                                        <td>@electiondetails.ElectionDetails.ElectionDetails</td>
                                        <td>@electiondetails.ElectionDetails.ElectionTypeDetails.ElectionName</td>
                                        <td>
                                            <span><b><i>Starting Date: </i></b>@electiondetails.ElectionDetails.StartDate.ToString()</span> <br />
                                            <span><b><i>Ending Date: </i></b>@electiondetails.ElectionDetails.EndDate.ToString()</span> <br />
                                        </td>
                                        <td>
                                            @foreach (var Zone in electiondetails.ZoneList)
                                            {
                                                <span><b><i>Zone Name: </i></b>@Zone.ZoneName</span> <br />
                                                if(electiondetails.AreaList.Count>0)
                                                {
                                                  <ul>
                                                   @foreach(var Area in electiondetails.AreaList)
                                                    {
                                                      if(Zone.ZoneId==Area.ZoneID)
                                                       {
                                                        <li>
                                                          <b><i>Area Name: </i></b>   @Area.AreaName <br />
                                                          <b><i>Area Title: </i></b>   @Area.AreaTitle
                                                       </li>
                                                      }
                                                    }
                                                 </ul>
                                                }
                                          
                                            }

                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-rounded btn-fw">Update</button>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteElectionDetails", new { Id = electiondetails.ElectionID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Assign Area Election", "AssignElection", new { Id = electiondetails.ElectionID }, new { @class = "btn btn-danger", type = "button" })
                                        </td>
                                    </tr>
                                    serialno++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td> <h6 style="color:red; text-align:center"> <b>NO DATA FOUND</b> </h6> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

